ControlPath ~/.ssh/tmp/%h-%p-%r
ControlMaster auto
ControlPersist 600

Host *
    ServerAliveInterval 60

Host 192.168.*
    StrictHostKeyChecking=no
    UserKnownHostsFile /dev/null

Host localhost
    StrictHostKeyChecking=no
    UserKnownHostsFile /dev/null

# TODO Put more samples here
#
# Examples *************************************
# Host conf
#   Hostname 144.76.238.162
#   User vdi
#   ForwardAgent yes
#
# Host git
#   Hostname git.aintsys.com
#   User git
#   ProxyCommand ssh conf /usr/bin/nc %h %p 2> /dev/null
#   
# Host mwn-slave0
#   Hostname 5.9.110.78
#   User root
#   Port 640
##    
# Host pp-slave1
#   User root
#   Port 632
#   Hostname 172.16.30.12
#   ProxyCommand ssh conf ssh -At root@172.16.0.2 /usr/bin/nc %h %p 2> /dev/null
